<a href="https://colab.research.google.com/github/waterFlowin/00Practice/blob/master/00Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Concept is to cycle through topics. Either Read, Listen, Watch, Do something for 1-20 minutes per topic.
Start with 1 topic per day.

Solo or Team

My Opinion of "Core" Areas
- Programming
- Math
- ML
- DS
- CS
- Security

Everyday do at least 1 minute of SQL exercises

Record minutes studied in relative DataFrame below

# Concept Map

https://www.mindmeister.com/1201664301

# Python

Sources
- https://www.w3schools.com/python/

In [0]:
# Python Libraries
import pandas as pd

In [0]:
# DataFrame for minutes spent on what material
df_python = pd.DataFrame({
    "Date":              [11719,11819],
    "w3schoolsExercises":[10,1]})

df_python = df_python.set_index("Date")

In [0]:
# Show DataFrame
df_python

       w3schoolsExercises
Date
11719                  10
11819                   1

# SQL

Sources
- https://www.w3schools.com/sql/
- https://sqlzoo.net/

In [0]:
# DataFrame for minutes spent on what material
df_SQL = pd.DataFrame({
    "Date":              [11719,11819],
    "w3schoolsExercises":[10,7]})

df_SQL = df_SQL.set_index("Date")

# Data Set

In [0]:
# DataFrame for minutes spent on what material
df = pd.DataFrame({
    "Date":       [11719],
    "DidOneThing":[0]})

df = df.set_index("Date")

# ML

# DS

# CS

# Math

# Security