<a href="https://colab.research.google.com/github/waterFlowin/00PythonPractice/blob/master/00PythonPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Python Libraries
import pandas as pd

In [0]:
df_python = pd.DataFrame({
    "Date":              [11719],
    "w3schoolsExercises":[10]})

df_python = df_python.set_index("Date")

In [10]:
df_python

       w3schoolsExercises
Date
11719                  10